log_*
test_out*
net_result
*.sbatch
__pycache__
risultati.png
seeTroughDataset
SeeTrough
prova
weights
*.pth.tar
undersample_dataset
gigadose_dataset
*.dcm
*.png
*.tif
*.npy
trainTesi
volume_out*
.vscode
